/*-------------TAG SELECTORS-------------- */


h1 {
  color: red;
  font-size: 200px;
}

img {
  background-color: red;
}



/*-------------CLASS SELECTORS--------------
Use classes when I want to apply the same design to a group of subjects*/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}


/*-------------ID SELECTORS--------------
Use IDs when I want a specific subject to be unique*/


#heading {
  color: blue;
}
